*{
    font-family: 'Balsamiq Sans',cursive;

}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    background-color: rgb(203, 203, 203);
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}
input[type="text"] {
    flex: 1;
    padding: 5px;
    width: 260px;
    border: 2px solid black;
}

.nav-title {
    font-weight: normal;
    display: inline-block;
}

.btn1 {
    background-color: rgb(66, 108, 213);
    color: white;
    border: 3px solid black;
    width: 60px;
    padding: 4px;
    margin-left: 160px;
    box-shadow: 2px;
    -webkit-box-shadow: 3px 3px 5px 0px black;
}

.pantalla {
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 20px;
    width: 800px;
    margin: 0 auto;
}

.izq {
    flex: 0.77;
    display: flex;
    flex-direction: column;
}

.definicion{
    border:3px solid black;
    display: flex;
    padding: 15px;
    width: 355px;
}
#seg{
    margin-top: 20px;
}

.def{
    margin-right: 10px;
    width: auto;
}

.texto{
    margin: 30px;
    width: 300px;
    text-align:justify;
}
.nombre{
    font-size: xx-large;
    margin-bottom: 5px;
    
}

.clasif, .plural{
    margin-top: 0;
    margin-bottom: 10px;
    width: 80px;
    font-style: italic;
    font-weight: normal;
}

.AddTarjetas {
    display: flex;
    flex-direction: column;
    border:3px solid black;
    width: 200px;
    padding: 15px;
    align-items: center;
}
.contenido{
    font-weight: normal;
}
.btn2 {
    background-color: rgb(255, 215, 82);
    border: 2px solid black;
    width: 80px;
    height: 30px;
    box-shadow: 2px;
    -webkit-box-shadow: 3px 3px 5px 0px black;
}

.btn4 {
    background-color: rgb(135, 203, 131);
    border: 2px solid black;
    box-shadow: 2px;
    -webkit-box-shadow: 3px 3px 5px 0px black;
    width: 150px;
    height: 30px;
    font-size: medium;
    margin-bottom: 10px;
}



